
/target/
**/*.rs.bk
config.toml
config.test.toml
.env
/colour-images/*.png
/colour-images/*.svg
certs
rls
.DS_Store

/colour-bot-site/node_modules
/colour-bot-site/coverage
/colour-bot-site/build

# site dependencies
/colour-bot-site/.DS_Store
/colour-bot-site/.env.local
/colour-bot-site/.env.development.local
/colour-bot-site/.env.test.local
/colour-bot-site/.env.production.local

/colour-bot-site/npm-debug.log*
/colour-bot-site/yarn-debug.log*
/colour-bot-site/yarn-error.log*

migrate.sql