#Root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    height: 100%;
}

.Roles {
    display: grid;
    height: 95%;
    width: 100%;

    flex-direction: column;

    grid-template: 30px 9fr 2fr / 100%;

    & > div {
        &:first-child {
            display: flex;
            justify-content: center;

            width: 95%;
            margin-left: 5%;
            padding-bottom: 10px;
            padding-top: 10px;
        }

        &:last-child {
            display: flex;
            align-items: center;

            padding: 0px 5% 0px 5%;
            margin-top: 20px;
            margin-bottom: 20px;

            & > * {
                &:not(:first-child) {
                    margin-left: 17.5px;
                }
            }
        }
    }
}

.Buttons {
    display: flex;
    align-items: center;
    margin-left: 5%;
    width: 100%;

    & > * {
        &:not(:first-child) {
            margin-left: 17.5px;
        }
    }
}
